

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500&family=Lexend+Deca:wght@500&family=Roboto+Mono&display=swap');
html {
  background-color: #15181a;
  color: white;
  overflow-x: hidden;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.bottom {
  justify-content: center;
  width: 100vw;
  align-items: center;
}
h1 {
  font-size: 2.8em;
  margin: 1vh 0;
  font-family: 'Lexend Deca', sans-serif;
  background: linear-gradient(90deg, rgba(247,222,82,1) 0%, rgba(239,136,67,1) 100%);
  color: transparent;
  background-clip: text;
}

h2 {
  margin: 1vh 0;
  font-family: 'Lexend Deca', sans-serif;
  background: linear-gradient(90deg, rgb(87, 107, 255) 0%, rgb(128, 78, 214) 100%);
  color: transparent;
  background-clip: text;
}

p {
  font-family: 'Be Vietnam Pro', sans-serif;
}
:root {
  color-scheme: dark light;
}